@import "@/app/globals.scss";

@mixin topTransition {
  transition: top 0.5s ease;
}

.indicator {
  @include topTransition;
  position: absolute;
  background: $pri-white;
  right: 0px;
  height: 60px;
  width: 60px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 1;
}

.indicator::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 0 5px $pri-white;
}

.indicator::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-top-right-radius: 30px;
  box-shadow: 5px -5px 0 5px $pri-white;
}

.circle {
  @include topTransition;
  position: absolute;
  right: 6px;
  height: 48px;
  width: 48px;
  border: 4px solid $primary-dark;
  border-radius: 50%;
  z-index: 2;
}

.title {
  transition: top 0.5s ease, width 0.5s ease;
  position: absolute;
  right: 6px;
  height: 60px;
  background: linear-gradient(to left, $pri-white, transparent);
}