@import "@/app/globals.scss";

.labelContainer {
  @include flexRow;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .labelWrapper {
    width: 100%;
    font-family: $mali;
    font-size: $huge;
  }
}

.actionWrapper {
  @include flexRow;
  gap: 2px;
  padding-left: 6px;
}

.hoverWrapper {
  position: absolute;
  top: 0.05rem;
  right: 0;
  background-color: $primary;
  border-radius: 20px;
  overflow: hidden;
  padding-right: 3px;
  transition:
    width 0.2s ease-in-out,
    min-width 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}