@import "@/app/globals.scss";

.logo {
  position: absolute;
  right: 0;
  @include flexRow;
  cursor: pointer;
  height: 80px;
  width: 80px;
  transition: transform 0.3s ease-in-out;
}

.logoExpanded {
  transform: rotate(270deg);
}

.logoCollapsed {
  transform: rotate(0deg);
}
