@import "@/app/globals.scss";

.mainContainer {
  display: block;
  transition: margin-left 0.3s ease;
}

.expandedContainer {
  margin-left: $expandedSidebar;
}

.collapsedContainer {
  margin-left: $collapsedSidebar;
}