@import "@/app/globals.scss";

.input {
  background-color: $pri-white;
  outline: none !important;
  border: 2px $secondary solid !important;
  border-radius: 25px;
  color: $primary-dark !important;
}

.Input {
  border: none !important;
  background-color: pink !important;
}
