@import "@/app/globals.scss";

.walletBalanceScrollContainer {
  min-width: 350px;
}

@media screen and (max-width: $screen-breakpoints) {
  .walletBalanceScrollContainer {
    min-width: 300px;
  }
}