@import "@/app/globals.scss";

.walletBalanceScrollContainer {
  min-width: 390px;
}

@media screen and (max-width: $screen-breakpoints) {
  .walletBalanceScrollContainer {
    min-width: 340px;
  }
}