@import "@/app/globals.scss";

.walletBalanceScrollContainer {
  min-width: 390px;

  .balances {
    @include flexCol;
    align-items: flex-start;
    padding: 25px 0;
    gap: 15px;
  }
}

@media screen and (max-width: $screen-breakpoints) {
  .walletBalanceScrollContainer {
    min-width: 340px;
  }
}
