@import "@/app/globals.scss";

.createChange {
  @include flexRow;
  align-items: flex-end;
  gap: 25px;
  padding: 15px;
  margin-top: 5px;
  flex-grow: 1;

  .createWrapper {
    @include flexCol;
    gap: 10px;

    .changeText {
      font-family: $mali;
      font-weight: $bold-weight;
      font-size: $moderate;
    }
  }

  .noteWrapper {
    @include flexCol;
    flex-grow: 1;
    align-items: flex-start;
    gap: 5px;

    .infoWrapper {
      @include flexRow;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
