@import "@/app/globals.scss";

.createChange {
  @include flexRow;
  gap: 25px;
  padding: 15px;
  flex-grow: 1;

  .createWrapper {
    @include flexCol;
    gap: 5px;

    .changeText {
      font-family: $mali;
      font-weight: $bold-weight;
      font-size: $super;
    }
  }

  .noteWrapper {
    @include flexCol;
    flex-grow: 1;
    align-items: flex-start;
    gap: 5px;

    .infoWrapper {
      @include flexRow;

      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
