@import "@/app/globals.scss";

.sidebar {
  position: fixed !important;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: $expandedSidebar;
  height: 100%;
  transition: left 0.3s ease;
  background-color: $primary-dark;
  background-image: linear-gradient(to bottom, $primary-dark, $secondary);

  @include flexCol;
  justify-content: space-between;

  .mainAction {
    @include flexCol;
    width: 100%;
    height: inherit;

    .sideTabsWrapper {
      @include flexCol;
      justify-content: center;
      align-items: flex-end;
      gap: 15px;
      height: 100%;
      width: 100%;
    }
  }
}

.notExpanded {
  left: $leftPositionSidebar;
}
