// Global colors
$primary: #ccd8f8;
$primary-dark: #6a65ff;
$primary-light: #e7e7ff;
$secondary: #fcdcfe;
$background: #f9fbfc;

$pri-black: #090027;
$pri-black-light: #31363f;
$pri-white: #fff;
$pri-green: #2db46e;
$pri-red: #ed4337;

// Global font family
$lexend: "Lexend", sans-serif;
$openSans: "Open Sans", sans-serif;
$mali: "Mali", sans-serif;

// Global font sizes
$small: 12px;
$normal: 14px;
$medium: 16px;
$large: 18px;
$huge: 20px;
$extra: 24px;
$super: 32px;
$brand: 64px;

// Global font weights
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;

// Responsive breakpoints
$width-breakpoint: 1200px;
$phone-breakpoint: 576px;

// Other global styles
$expandedSidebar: 300px;
$collapsedSidebar: 70px;

// Mixing styles
@mixin username {
  font-family: $mali;
  font-size: $extra;
  font-weight: $semibold-weight;
}

@mixin email {
  font-family: $mali;
  font-size: $huge;
  font-weight: $regular-weight;
}

@mixin baseGradient {
  background: linear-gradient(to right, $primary, $secondary);
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
