@import "@/app/globals.scss";

.navbarWrapper {
  width: auto;
  height: 70px;
  
  @include flexRow;
  justify-content: space-between;

  @include navbarText;
  background-color: $background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .infoWrapper {
    @include flexRow;
    justify-content: flex-end;
    gap: 15px;
    height: 100%;
  }
}

.infoCardWrapper {
  @include baseGradient;
  @include flexRow;
  gap: 10px;

  border-bottom-left-radius: 35px;
  padding: 0 10px 0 30px;
  height: 100%;

  .infoCard {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;

    .name {
      @include username;
    }

    .email {
      @include email;
    }
  }
}