@import "@/app/globals.scss";

.tab {
  position: relative;
  gap: 10px;
  width: auto;
  height: 60px;
  z-index: 3;
  @include flexRow;
  width: calc($expandedSidebar - 15px - 5px); // pdding and margin
  justify-content: flex-end;
  overflow: hidden;

  .tabTitle {
    @include flexRow;
    height: 50px;
    font-family: $mali;
    font-size: $large;
    color: $pri-black-light;
    transition:
      color 0.5s ease,
      font-weight 0.3s ease,
      font-size 0.3s ease;
  }

  .tabTitleSelected {
    color: $primary-dark;
    font-size: $extra;
    font-weight: $bold-weight;
  }

  .icon {
    @include flexRow;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 15px;
    transition:
      margin 0.5s ease,
      box-shadow 0.5s ease;
  }

  .icon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .iconSelected {
    margin-right: 5px;
  }
}
