@import "@/app/globals.scss";

.balanceCard {
  margin: 5px;
  height: fit-content;
  overflow: hidden;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5)), url("/img/balance3.png");

  .totalBalance {
    padding: 20px 30px;

    .description {
      font-family: $mali;
      font-weight: $bold-weight;
      font-size: $ample;
      color: $pri-white;
      transition: font-size 0.3s ease-in-out;
    }

    .balance {
      padding-top: 10px;
      font-family: $lexend;
      font-weight: $bold-weight;
      font-size: $brand;
      color: $pri-black;
      text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
      transition: font-size 0.3s ease-in-out;
    }
  }

  .dailyChange {
    @include flexCol;
    gap: 5px;
    background: linear-gradient(to top, white 45%, transparent 100%);

    .todayChangesText {
      transition: height 0.15s ease-in-out;
      height: 30px;
      overflow: hidden;
      font-family: $mali;
      font-weight: $bold-weight;
      font-size: $extra;
    }

    .todayChangesNumber {
      @include flexRow;
      justify-content: space-around;
      height: 60px;
      width: 90%;
    }
  }
}
