@import "@/app/globals.scss";

.totalBlance {
  margin: 5px;
  padding: 15px;
  height: 480px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;

  .totalBlanceWrapper {
    width: 350px;
    background: none;
    background-color: $primary;
    border: 2px $pri-white solid;
    padding: 30px 0;
    @include flexCol;
    gap: 10px;

    .totalIconWrapper {
      @include flexRow;
      @include size(175px);
      transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
      background-color: $pri-white;
      border-radius: 50%;
    }

    .totalBlanceText {
      font-family: $mali;
      font-weight: $bold-weight;
      font-size: $super;
      transition: font-size 0.3s ease-in-out;
    }

    .totalBlanceNumber {
      font-family: $lexend;
      font-weight: $bold-weight;
      font-size: $brand;
      color: $primary-dark;
      transition: font-size 0.3s ease-in-out;
    }
  }

  .dailyChangeWrapper {
    @include flexCol;
    padding-top: 15px;
    gap: 5px;

    .todayChangesText {
      transition: height 0.15s ease-in-out;
      height: 30px;
      overflow: hidden;
      font-family: $mali;
      font-weight: $bold-weight;
      font-size: $extra;
    }

    .todayChangesNumber {
      @include flexRow;
      justify-content: space-around;
      height: 50px;
      width: 90%;
    }
  }
}


@media screen and (max-width: $screen-breakpoints) {
  .totalBlance {
    height: 300px;

    .totalBlanceWrapper {
      width: 300px;
      padding: 15px 0;

      .totalIconWrapper {
        @include size(100px);
      }

      .totalBlanceText {
        font-size: $moderate;
      }

      .totalBlanceNumber {
        font-size: $ample;
      }
    }

    .dailyChangeWrapper {
      padding-top: 10px;

      .todayChangesText {
        height: 0px;
      }

      .todayChangesNumber {
        height: 35px;
      }
    }
  }
}
