@import "@/app/globals.scss";

.navbarWrapper {
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include navbarText;
  background-color: $background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .infoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}

.infoCardWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  border-bottom-left-radius: 25px;
  background-color: $primary;
  padding-left: 25px;

  .infoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0px;

    .name {
      @include username;
    }

    .email {
      @include email;
    }
  }
}